.messages-list {
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #2a3942;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  color: #fff;
}

.messages-list__item {
  margin-bottom: 10px;
}

.messages-list__sender {
  font-weight: bold;
  color: #00a884;
}
